<!-- Navbar using Bootstrap 5.0 -->
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">
            <i class="fas fa-compass"></i>
        </a>
        <!-- Navbar toggler button with correct data attributes -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links and dropdowns -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Create A New Listing</a>
            </div>

            <!-- To show "Signup & Login" or "Logout" -->
            <div class="navbar-nav ms-auto">
                <!-- currUser is the res.local.currUser = req.user;  present in the middleware of app.js -->
                 <!-- This stores the curren user logged in. If not loggedin, it will contain undefined. -->
                <% if(!currUser) {%>
                <a class="nav-link active" aria-current="page" href="/signup">SignUp</a>
                <a class="nav-link" href="/login">Login</a> 
                <% } else if(currUser) {%>
                <a class="nav-link" href="/logout">Logout</a> <% }%>
            </div>
        </div>
    </div>
</nav>
