<!-- Navbar using Bootstrap 5.0 -->

<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">
            <i class="fas fa-compass"></i>
        </a>
        <span><a href="/" style="margin-left: 1rem;">Home</a></span>
        <span><a href="/company/about" style="margin-left: 2rem;">About us</a></span>


        <!-- *** Note: This currUser is a variable created in "app.js" this is there in a middleware. -->


        <!-- Custom Icon Button -->
        <div class="dropdown ms-auto">
            <!-- Check if a user is logged in -->
            <% if (!currUser) { %>
                <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/signup">Create an Account</a></li>
                    <li><a class="dropdown-item" href="/company/contact">Contact Us</a></li>
                </ul>
            <% } else { %>
                <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                    <li><a class="dropdown-item" href="/profile">Your Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">logout</a></li>
                    <li><a class="dropdown-item" href="/company/contact">Contact Us</a></li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>
