<% layout("../layouts/boilerplate") %>


<body>
    <div class="manualqr">
        <h3>Make payment on this QR code.</h3>
        <img src="/photos/manualqrpic.jpg" alt="qrcodepic">
    </div>
</body>



