<% layout("../layouts/boilerplate") %>
<body>
    
    <h1>All Listings</h1>

    <!-- Using Bootstrap cards for styling. -->
    <div class="row row-cols-md-3 d-flex justify-content-center"> 
        <!-- This row is a bootstrap class that allows to create horizontal grouping of columns. Means by default there will be a single row and all the content will be created as a column and all the columns will be there in a single row by default. But definitely we will change that. -->

        <% for (list of allListings)
        {%>
            <a href="/listings/<%=list._id%>" class="listing-link">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="<%=list.image%>" alt="Card image cap" style="height: 20rem;">
                    <div class="card-body">
                        <b><p class="card-text"><%= list.title %></p></b> 
                        <p class="card-text"> &#8377; <%= list.price.toLocaleString('en-IN') %> / night</p>
                    </div>
                </div>
            </a>
            
        <%}%>

    </div>

</body>

