<% layout("../layouts/boilerplate") %>
<body>
  <div class="row">
    <!-- We created a row, which contains a single element, single column. -->
    <!-- Total 12-columns are there and we want to give 8 to it. -->
    <!-- offset-2, means we want to give spacing from left side. -->
    <div class="col-8 offset-2 newListing">
    <h2 style="margin-top: 2rem;">Create a new Listing</h2>
    <form action="/listings/new" method="POST" style="margin-top: 2rem;" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="x[title]" id="title" placeholder="enter title here" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Title field can't be empty.
          </div>
        </div>
        
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="x[description]" id="description" placeholder="enter some description" class="form-control" required></textarea> 
            <div class="invalid-feedback">
                   Please add some description.
              </div>
        </div>
        
        <div class="form-group mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="x[image]" id="image" class="form-control" required>
        </div>


        <!-- To keep price and country in same line. -->
        <div class="row">
            <div class="form-group mb-3 col-md-4">
                <label for="price" class="form-label">Price (in INR)</label>
                <input type="number" name="x[price]" id="price" placeholder="price here" class="form-control" required>
                <div class="invalid-feedback">
                     Please add some price.
               </div>
            </div>
    
            <div class="form-group mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="x[country]" id="country" placeholder="country here" class="form-control" required>
                <div class="invalid-feedback">
                    Country field can't be empty.
              </div>
            </div>
        </div>
        
        
        <div class="form-group mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="x[location]" id="location" placeholder="location here" class="form-control" required>
            <div class="invalid-feedback">
                It is mendatory to set some location.
            </div>
            <small class="form-text text-muted">* Try add the location as precise as possible</small>
        </div>

        <div class="form-group mb-3">
            <label for="facilities" class="form-label">Facilities:</label><br>
            <input type="checkbox" name="facilities[]" value="Wi-Fi"> Wi-Fi 
            <input type="checkbox" name="facilities[]" value="Mini-Fridge"> Mini-Fridge 
            <input type="checkbox" name="facilities[]" value="Parking"> Parking 
            <input type="checkbox" name="facilities[]" value="Air Conditioning"> Air Conditioning 
            <input type="checkbox" name="facilities[]" value="Heating"> Heating 
            <input type="checkbox" name="facilities[]" value="Laundry Service"> Laundry Service 
            <input type="checkbox" name="facilities[]" value="Fitness Center"> Fitness Center 
            <input type="checkbox" name="facilities[]" value="Swimming Pool"> Swimming Pool 
            <input type="checkbox" name="facilities[]" value="Spa"> Spa 
            <input type="checkbox" name="facilities[]" value="Pet-Friendly Services"> Pet-Friendly Services 
        </div>
        
       
        <br>
        <button class="btn btn-dark">Submit</button>

    </form>
    <br>
    </div>

  </div>
</body>

<!-- See row and column is an amazing thing to adjust things using Bootstrap. -->
<!-- Row means we are creating a single row, if number of items increase and you want to create multiple rows, you have to mention that, no of columns you want to keep you have to mention that simple. -->



